# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environments & IDEs
.venv/
venv/
ENV/
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# User data & logs
*.log
.tropical_downloader/
